.but {
  font-size: 15px;
  padding: 4px 5px 3px 5px;
}
.defense_numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 5px 60px 5px;
  height: 100%;
  gap: 20px;
  border-top: 1px solid;
}
.defense_description {
  width: 70%;
  padding-bottom: 1px;
  line-height: 18px;
}
.link_defense {
  border-top: 1px solid;
  padding-top: 10px;
}
.defense_price {
  font-size: 18px;
}
/* -- */
@media (max-width: 490px) {
  .defense_numbers {
    flex-direction: column;
  }
  .defense_description {
    width: 100%;
  }
}
