.but {
  font-size: 15px;
  padding: 4px 5px 3px 5px;
}
.defense_numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8vh 5px 10px 10px;
  height: 100%;
  gap: 20px;
  border-top: 1px solid;
}
.defense_description {
  display: flex;
  align-items: center;
  width: 70%;
  padding: 0px 0px 0px 0px;
  line-height: 18px;
}
.link_defense {
  display: flex;
  align-items: center;
  border-top: 1px solid;
  padding: 10px 0 0px 0;
}
.defense_price {
  font-size: 18px;
}
/* -- */
@media (max-width: 967px) {
  .defense_numbers {
    padding: 1vh 5px 10px 10px;
    border-top: none;
  }
}
@media (max-width: 490px) {
  .defense_numbers {
    flex-direction: column;
  }
  .defense_description {
    width: 100%;
  }
}
