.card_box {
  height: 100%;
  background: rgb(255, 254, 255);
  color: black;
}
.container_cards {
  width: 100%;
  min-height: 100%;
  padding: 10px 5px 0px 5px;
}
.card_conteiner {
  margin: 0px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
  height: 250px;
}

.goods_card {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
}
.card_text {
  display: flex;
  margin: 10px 0px 10px 0px;
  padding: 0 0 0 110px;
  font-size: 20px;
  border-bottom: 1px solid;
  border-top: 1px solid;
  height: 35px;
  align-items: center;
}
.card_conteiner_img {
  width: 350px;
  display: flex;
  justify-content: center;
  margin: 0px 10px 0px 10px;
}
.card_img {
  max-height: 200px;
  max-width: 100%;
  object-fit: cover;
}
.card_title {
  padding: 20px 0;
  width: 80%;
}
.card_conteiner_numbers {
  width: 100%;
  height: 100%;
}
.card_conteiner_text {
  display: flex;
  font-size: 20px;
  justify-content: space-around;
  border-bottom: 1px solid;
  border-top: 1px solid;
  height: 35px;
  align-items: center;
  padding: 0 35% 0 0;
  margin: 10px 0px 0px 0px;
}
.card_numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0 60px 15%;
  height: 100%;
  gap: 20px;
}
.card_but_conteiner {
  height: 100%;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card_but {
  height: 35px;
}
.cart_cirle {
  cursor: pointer;
}
