/* box */

.price {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  margin: 15px 0px 15px 0px;
}
.price span {
  font-size: 18px;
}
.link_heart {
  margin: 0px 10px 0px 0px;
}
.heart_defense {
  cursor: pointer;
}

.rete {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 15px 0px;
}
.electronics_but:hover {
  color: darkred;
}

.description {
  background: white;
  border-radius: 0 0px 10px 10px;
  padding: 30px 4px 4px 4px;
  /* box-shadow: 7px 7px 0px 0px rgba(142, 42, 42, 0.23); */
  border-bottom: 10px solid rgba(164, 22, 22, 0.064);
  margin: -35px 0px 0px 0px;
  color: rgba(240, 248, 255, 0);
}
.electronics_elem:hover:hover .description {
  color: black;
}
/* box and */
