ul,
ol,
li {
  list-style: none;
}
#root {
  min-height: 100%;
  overflow: hidden;
}
html,
body {
  height: 100vh;
  line-height: 1;
  font-size: 16px;
  color: black;
  font-family: "Gill Sans", Calibri, sans-serif;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

section {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  padding: 0 2px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
/* header */
.light {
  background-color: rgb(222, 222, 222);
}

.dark {
  background-color: rgb(39, 38, 38);
  color: rgb(255, 252, 252);
}
.dark-footer {
  background: rgb(55, 57, 59);
  color: rgb(255, 252, 252);
}
.link {
  text-decoration: none;
  color: black;
}
.link:hover {
  color: black;
}

.language_but {
  display: none;
}
.language_but_true {
  position: absolute;
  right: 20px;
  top: 18px;
  display: inline-block;
}
header {
  height: 90px;
  width: 100%;
  background: rgb(181, 181, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header_container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  position: relative;
}

.header_container span {
  text-decoration: underline;
  letter-spacing: 8px;
}
.K {
  font-size: 40px;
  font-family: "Arial Narrow Bold";
  color: rgb(128, 47, 47);
}
.a1 {
  font-size: 24px;
  color: rgb(244, 9, 9);
}
.c {
  font-size: 35px;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  color: rgb(14, 58, 64);
}
.light_color {
  color: rgb(82, 98, 108);
}
.dark_color {
  color: rgb(30, 28, 44);
}
.t {
  font-size: 24px;
  color: rgb(244, 9, 9);
}
.a {
  font-size: 40px;
  font-family: "Arial Narrow Bold";
  color: rgb(194, 50, 50);
}
.cart {
  margin: 0px 5px 5px 0px;
}
.link_basket {
  display: flex;
  position: relative;
  margin: 0px 30px 0px 0px;
}
.basket_number {
  position: absolute;
  min-width: 22px;
  min-height: 22px;
  background: red;
  border-radius: 11px;
  text-align: center;
  padding: 1px;
  right: -25px;
}
/* menu */
.manu_home {
  display: flex;
  align-items: baseline;
  justify-content: center;
  height: 40px;
}
.manu_home > *:not(:last-child) {
  margin: 0px 50px 0px 0px;
}
.none {
  text-decoration: none;
}

/* menu and */

.fixed_box {
  gap: 5px;
  display: flex;
  flex-direction: column;
  top: 50vh;
  left: 96%;
  position: fixed;
  z-index: 20;
}
/*  */
.profile {
  cursor: pointer;
}
/*  */
.modal {
  padding: 20vh 0 0 0;
}
.modal_reg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.modal_text {
  font-size: 22px;
}
/* == */

.bropdown {
  display: none;
}
.dropdown_box {
  display: flex;
}
#dropdown-basic {
  display: flex;
}
/* =========== */
@media (max-width: 1200px) {
  .fixed_box {
    left: 95%;
  }
}
@media (max-width: 950px) {
  .fixed_box {
    left: 93%;
  }
}
@media (max-width: 765px) {
  header {
    height: 70px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
  }
  .manu_home {
    display: none;
  }
  .header_container {
    flex-wrap: wrap;
    padding: 5px 5px 50px 5px;
    gap: 10px;
  }
  .bropdown {
    display: inline-block;
    margin: 10px 0px 0px 0px;
  }
  .dropdown_menu {
    width: 200px;
    padding: 0 0 0 10px;
  }
  .ul_menu {
    display: none;
  }
}
@media (max-width: 694px) {
  header {
    height: 90px;
  }
}
@media (max-width: 650px) {
  .fixed_box {
    left: 90%;
  }
}
@media (max-width: 460px) {
  .fixed_box {
    left: 88%;
  }
}
@media (max-width: 406px) {
  header {
    height: 130px;
  }
}
@media (max-width: 395px) {
  .header_container {
    font-size: 17px;
  }
}
@media (max-width: 361px) {
  .header_container {
    gap: 10px;
  }
}
@media (max-width: 350px) {
  .fixed_box {
    left: 86%;
  }
}
