.card_elem {
  padding: 30px 5px 0px 5px;
  height: 100%;
  gap: 20px;
}

.element_img {
  max-width: 100%;
  max-height: 400px;
  object-fit: cover;
}
.element_container_text {
  font-size: 20px;
}
.element_container_text > * {
  margin: 0px 0px 30px 0px;
}
.element_container_but {
  display: flex;
  justify-content: space-around;
  max-width: 40%;
}
