/* box */

.price {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  margin: 15px 0px 15px 0px;
}
.price span {
  font-size: 18px;
}
.link_heart {
  margin: 0px 10px 0px 0px;
}
.icon_box {
  position: relative;
}
.icon_block {
  display: block;
  position: absolute;
}
.icon_none {
  display: none;
}
.heart_defense {
  cursor: pointer;
  z-index: 1;
}
.rete {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 15px 0px;
}
.electronics_but:hover {
  color: darkred;
}

.descriprion {
  background: white;
  border-radius: 0 0px 10px 10px;
  padding: 30px 4px 4px 4px;
  border-bottom: 10px solid rgba(164, 22, 22, 0.064);
  margin: -35px 0px 0px 0px;
  color: rgba(240, 248, 255, 0);
}
.electronics_elem:hover:hover .descriprion {
  color: black;
}

/* box and */
