.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
}
.number div svg {
  margin: 10px;
}
.icon {
  margin: 10px 0px 0px 0;
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.icon > * {
  cursor: pointer;
}
.addres > * {
  max-width: 200px;
  margin: 20px;
}
/* ======= */
@media (max-width: 774px) {
  .footer {
    padding: 20px 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 593px) {
  .footer {
    justify-content: center;
  }
  .addres > * {
    margin: 20px 10px;
  }
}
@media (max-width: 573px) {
  .footer {
    padding: 20px 80px;
  }
}
@media (max-width: 513px) {
  .footer {
    padding: 20px 50px;
  }
}
@media (max-width: 453px) {
  .footer {
    padding: 20px 20px;
  }
}
