/* box */
.electronics_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0px 0px 0px;
  gap: 17px;
}

.electronics_elem {
  width: 222px;
  background: white;
  border-radius: 10px;
  height: 385px;
  overflow: hidden;
  z-index: 1;
}
.electronics_elem:hover {
  color: black;
  overflow: visible;
  z-index: 10;
  box-shadow: 7px 1px rgba(110, 44, 44, 0.083);
}
.electronics_elem > * {
  padding: 4px;
}

.electronics_container_img {
  width: 100%;
  margin: 0px 0px 15px 0px;

  display: flex;
  justify-content: center;
}
.electronics_img {
  max-height: 215px;
  max-width: 100%;
  object-fit: cover;
}
.price {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  margin: 15px 0px 15px 0px;
}
.price span {
  font-size: 18px;
}
.link_heart {
  margin: 0px 10px 0px 0px;
}
.heart_defense {
  cursor: pointer;
}
.rete {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 15px 0px;
}
.electronics_but:hover {
  color: darkred;
}

.descriprion {
  background: white;
  border-radius: 0 0px 10px 10px;
  padding: 30px 4px 4px 4px;
  box-shadow: 7px 7px 0px 0px rgba(107, 52, 52, 0.083);
  margin: -35px 0px 0px 0px;
  color: rgba(240, 248, 255, 0);
}
.electronics_elem:hover:hover .descriprion {
  color: black;
}

/* box and */
